<div ng-cloak ng-controller="StoreController as store">
<md-content class="md-padding" layout="row" layout-wrap layout-align="center start" layout-xs="column" ng-repeat="line in store.products | groupBy: 2">
<div flex="50" flex-sm="100" flex-xs="100" layout="column" ng-repeat="product in line" ng-hide="product.soldOut" >
		<md-card>
			<md-card-header>
			<md-card-avatar>
      			<md-icon class="fa fa-diamond fa-2x md-primary" style="background-color: rgba(0,0,0,0)"></md-icon>
			</md-card-avatar>
			<md-card-header-text>
			<div style="font-size: 38px">{{product.name}}
				<em class="pull-right">{{product.price | currency}}</em>
			</div>
			</md-card-header-text>
			
			</md-card-header>
			<md-card-content>
				<div class="gallery" ng-show="product.images.length" ng-controller="GalleryController as gallery">
					<img class="img img-circle img-thumbnail center-block" ng-src="{{product.images[gallery.current]}}" />
					<ul class="clearfix">
						<li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
							<img ng-src="{{image}}" />			
						</li>
					</ul>
					<p>{{product.description}}</p>
					<button class="md-button md-accent" ng-show="product.canPurchase">
					      <md-icon class="fa fa-shopping-cart" style="font-size: 18px"></md-icon>
					      Add to Cart
					</button>
				</div>
				<section class="tab" ng-controller="TabController as tab">
					<div flex layout="row">
						<div ng-class="{ active:tab.isSet(1) }">
							<md-button class="md-primary" ng-click='tab.setTab(1)'>Description</md-button>
						</div>
						<div ng-class="{ active:tab.isSet(2) }">
							<md-button class="md-primary" ng-click='tab.setTab(2)'>Specs</md-button>
						</div>
						<div ng-class="{ active:tab.isSet(3) }">
							<md-button  class="md-primary"ng-click='tab.setTab(3)'>Reviews</md-button>
						</div>
					</div>
					<div ng-show='tab.isSet(1)'>
							<span class="md-headline"> Description  </span>
						<md-content flex layout-padding>
							<p>{{product.description}}</p>
						</md-content>
					</div>
					<div ng-show='tab.isSet(2)'>
						<span class="md-headline">Specs </span>
						<md-content flex layout-padding>Shine: {{product.shine}}</md-content>
					</div>
					<div ng-show='tab.isSet(3)'>
						<span class="md-headline"> Reviews </span>
						<md-content flex layout-padding></md-content>
					</div>
				</section>
			</md-card-content>

		</md-card>
</div>
</md-content>
</div>
