<div ng-cloak ng-controller="StoreController as store">
    <md-content class="md-padding" layout="row" layout-wrap layout-align="center start" layout-xs="column" ng-repeat="line in store.products | groupBy: 2">
        <div flex="50" flex-sm="100" flex-xs="100" layout="column" ng-repeat="product in line" ng-hide="product.soldOut">
            <md-card>
                <md-card-header class="product-card">
                    <md-card-header-text>
                        <div>{{product.name}}
                            <em class="pull-right md-accent">{{product.price | currency}}</em>
                        </div>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content>
                    <md-button aria-label="cart" class="md-fab md-accent button-buy" ng-show="product.canPurchase">
                        <ng-md-icon icon="add_shopping_cart" style="fill:white"></ng-md-icon>
                    </md-button>
                    <product-gallery></product-gallery>
                    <product-tabs></product-tabs>
                </md-card-content>
            </md-card>
        </div>
    </md-content>
</div>
